@model IEnumerable<DataLayer.Models.Product>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create" class="btn btn-success" style="margin-left:20px; margin-top:20px">Add Product</a>
</p>
<table class="table table-striped table-hover" style="margin-left: 20px">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Model)
            </th>*@
                @*<th>
                @Html.DisplayNameFor(model => model.Description)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ManufacturersId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BodyType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StringNumber)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.IsLeftHanded)
        </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Model)
            </td>*@
                @*<td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ManufacturersId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BodyType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StringNumber)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.IsLeftHanded)
        </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-primary btn-sm">Edit</a>
                <a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-primary btn-sm" style="margin-left:5px">Details</a>
                <a asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-danger btn-sm" style="margin-left:5px">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
